.content {
  width: 95%;
  max-width: 60rem;
  font-size: var(--size-5);
  background-color: var(--color-grey-800);
  color: var(--color-grey-50);
  line-height: var(--size-8);
  margin: var(--size-8) auto;
  padding: var(--size-4);
  border-radius: 6px;
}

.content p {
  color: var(--color-grey-50);
}

.content .image {
  width: 100%;
  max-width: 600px;
  margin: var(--size-4) auto;
}

.content ul,
.content ol {
  list-style-type: circle;
}

.content a:link,
.content a:visited {
  text-decoration: underline;
}

.content table {
  /* TODO: This isn't applying?! */
  overflow-x: scroll;
  width: 100%;
}

/* Customize how Markdown tables are rendered */
.content tr {
  border-top: 1px solid yellow;
  background: hsl(210, 6%, 12%);
}

.content th,
.content td {
  padding: 0.5rem 1rem;
  border: 1px solid white;
}

.content table tr:nth-child(2n) {
  background: hsl(210, 6%, 18%);
}

@media (min-width: 768px) {
  .content {
    padding: var(--size-8);
  }
}
