@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins&family=Source+Sans+Pro:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* Grey colors */
  --color-grey-50: hsl(240, 11%, 98%);
  --color-grey-100: hsl(240, 11%, 88%);
  --color-grey-200: hsl(240, 11%, 78%);
  --color-grey-300: hsl(240, 11%, 68%)
  --color-grey-400: hsl(240, 11%, 58%);
  --color-grey-500: hsl(240, 11%, 48%);
  --color-grey-600: hsl(240, 11%, 38%);
  --color-grey-700: hsl(240, 11%, 28%);
  --color-grey-800: hsl(240, 11%, 18%);
  --color-grey-850: hsl(240, 11%, 10%);
  --color-grey-900: hsl(240, 11%, 8%);

  /* Primary colors -- shades of hsl(346, 100%, 63%); */
  --color-primary-50: hsl(346, 100%, 88%);
  --color-primary-100: hsl(346, 100%, 78%);
  --color-primary-200: hsl(346, 100%, 68%);
  --color-primary-300: hsl(346, 100%, 58%);
  --color-primary-400: hsl(346, 100%, 48%);
  --color-primary-500: hsl(346, 100%, 38%);
  --color-primary-600: hsl(346, 100%, 28%);
  --color-primary-700: hsl(346, 100%, 18%);
  --color-primary-800: hsl(346, 100%, 8%);

  --color-success-100: hsl(213, 94%, 78%)
  --color-success-500: hsl(213, 94%, 58%)

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  font-family: 'Poppins', sans-serif;
  background-color: var(--color-grey-900);
  color: #252525;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Merriweather', 'Roboto', sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
}

button {
  font: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: inline-block;
}

ul {
  list-style-type: none;
}
